body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Lato", sans-serif;
}

.page {
    
    margin-left: 20px;
    position: relative;
}

.page::after {
    content: "";
    display: table;
    clear: both;
}

.column {
    margin-right: 10px;
    float: left;
}


.column:left {
    text-align: center;
    margin-left: 40px;
    padding: 10px;
}

.right {
    height: 75%;
    width: 27%;
    background-color: grey;
    right: 0px;
    float: right;
    position: absolute;
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.right footer
{
    position: absolute;
    bottom: 0;
    width: 90%;
}

.column:left,
.column:right {
    float: left;
    height: 1000px;
}

.column
{
    margin-top: 50px;
    height: 1600px;
    max-height: 1600px;
}

.center {
    max-height: 1600px;
}

/*Login and register wrapper*/
.loginRegisterWrapper {
    width: 60%;
    height: 1600px;
    max-height: 1600px;
    margin-top: 50px;
    margin-left: 50px;
    float: left;
    background-color: #BABABA;
}

/*Login header*/
.loginRegisterHeader {

    padding-top: 5%;
    font-size: 32px;
    color: white;
}

/*Input field label text and input fields*/
.loginRegisterInputLabelText {
    font-size: 20px;
    width: 70%;
    color: white;
}

.loginRegisterInputLabelText input {
    height: 5%;
    font-size: 24px;
}

.loginRegisterInputLabelText div {
    margin-bottom: 3%;
}

.loginRegisterInputLabelText:first-child {
    margin-top: 5%;
}

/*Give margin to the input divs that are not the first child*/
.loginRegisterInputLabelText:not(:first-child) {
    margin-top: 3%;
    margin-bottom: 5%;
}

.loginRegisterInputLabelText input {
    border: 1px solid black;
    border-radius: 0;
    width: 400px;
}
/*Login button*/
.loginSignUpButton input {
    border-radius: 0;
    font-size: 20px;
    border: none;
    color: white;
    background-color: #d9d9d9;
    height: 6%;
    margin: 10% 0 30%;
}

.signButtons {
    width: 25%;
}

.registrationMargin {
    margin-top: 3%;
    margin-bottom: 5%;
}

.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }


    .sidenav a {
        font-size: 18px;
    }
}