.profileSection {
    height: 50px;
    position: relative;
    display: flex; /* Add this line for flexbox */
    align-items: center; /* Add this line for vertical centering */
    justify-content: flex-end; /* Add this line for horizontal right alignment */
}

.profileSection img {
    max-width: 100%; /* Add this line */
    max-height: 100%; /* Add this line */
}

.profileSection img {
    max-width: 100%; /* Add this line */
    max-height: 100%; /* Add this line */
}

.navBar {
    height: 100px;
    background-color: #9F9E9E;
    display: flex;
    align-items: center;
}

.navBar section {
}


.navBar section div {
    flex: 1;
}

.logoSection {
    padding: 10px 9%;
}

.navBar section div h2 {
    color: white;
    font-size: 1.5em;
}

.navBarButtons div{
    padding: 10px 2%;
}

.navBarButtons {
    flex-direction: row;
}
.navBar section div a button {
    background-color: #FCC458;
    padding: 1.5em 3.5em;
    border-style: none;
    border-radius: 10px; /* Adjust the value to control the roundness */
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 46px;
    display: flex; /* Add this line for flexbox */
    align-items: center; /* Add this line to center the text vertically */
    justify-content: center;
}

.navBar section div a {
    text-decoration: none;
}

.navBar section div a button:hover {
    cursor: pointer;
    background-color: #D9AA4C;
}

/*Color the last button in the navbar*/
.navBar div:last-child button {
    background-color: #3C5BFF;
}