html, body
{
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #95ACFF;
    width: 100%;
}

#width100Percent {
    width: 100%;
}

.alignItemsCenter {
    align-items: center;
}

.padding
{
    padding-top: 40px;
    padding-left: 300px;
    padding-right: 300px;
}

p, h1, h2, h3, h5, li, label, div
{
    font-family: 'Poppins', sans-serif;
}

p, li, button
{
    font-size: large;
}

.input_figma_styling > input
{ 
    width: 434px;
    height: 36px;
    left: 194px;
    top: 91px;

    background: #FFFFFF;
    border: 1px solid #000000;
}

.displayFlex {
    display: flex;
}

.displayInlineFlex {
    display: inline-flex;
}

.displayBlock {
    display: block;
}

.backgroundColorD9D9D9 {
    background-color: #d9d9d9;
}

.marginAuto {
    margin: auto;
}

.textAlignCenter {
    text-align: center;
}

.widthMinContent {
    width: min-content;
}

.cursorPointer {
    cursor: pointer;
}

.textAlignStart {
    text-align: start;
}

.width100Percent {
    width: 100%;
}

.requiredAsterisk {
    color: red;
}

.errorLabelText {
    color: #ff3d3d;
    margin-top: 2%;
}

.positionAbsolute {
    position: absolute;
}

.floatRight {
    float: right;
}

.displayInlineBlock {
    display: inline-block;
}

.height100Percent {
    height: 100%;
}

.backgroundColorBABABA {
    background-color: #BABABA;
}

