#tests_offered
{
    position: relative;
    text-align: center;
    background-color: #B3B1B1;
    height: 1450px;
    width: 870px;
    padding-bottom: 100px;
}

#tests_offered table
{
    padding-left: 15px;
}


#tests_offered td
{
    padding-left: 25px;
}

#tests_offered img
{
    height: 175px;
    width: 175px;
}

#tests_offered th
{
    text-align: center;
}

.padding
{
    padding-left: 250px;
    padding-right: 250px;
}

.tableCategory
{
    
}