#tests_offered
{
    position: relative;
    text-align: center;
    background-color: #c7c1c1;
    height: 1450px;
    width: 870px;
    padding-bottom: 170px;
    padding-top: 0.2%;
}

#tests_offered table
{
    margin-top: 7%;
    padding-left: 15px;
}

#tests_offered td
{
    padding-left: 25px;
}

#tests_offered img
{
    height: 175px;
    width: 175px;
}

#tests_offered th
{
    text-align: center;
}

.padding
{
    padding-left: 250px;
    padding-right: 250px;
}

.tableCategory
{
    
}